*{
    font-family: 'Roboto', sans-serif;

}
/* body{
    background-image: url('IMG/Carro.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
} */

.barra{
    background-color: #b9e9fc;
    font-weight: bold;
}


.lista a{
    padding: 5px 12px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.lista a:hover{
    color: rgb(0, 0, 0);
    border-radius: 30px;
    background: linear-gradient(#b9e9fc, #b9e9fc) padding-box,
    linear-gradient(45deg, #3ABCD5, #2187C3, #155CAD) border-box;
    border: 2px solid transparent;
}


footer{
    background: #2187C3;
}

footer a:hover{
    background-color:#5eb3e4;
    border-radius: 20px;
    border: #5eb3e4 solid 2px;
}